@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.form-group.required .control-label:after {
  content: "*";
  color: red;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

